requests
beautifulsoup4
tqdm
colorama
Wappalyzer
python-dotenv
urllib3
playwright
python-dateutil
argparse
pyyaml
dnspython
cryptography
whois
pytest

# Notes:
# After installing playwright, run:
#   playwright install
# or to only install Chromium:
#   playwright install chromium
